In [43]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [74]:
deptinfo = pd.read_csv("deptinfo.csv", header = None, names = ['Dept', 'DeptDESC', 'unknown'] )
skuinfo = pd.read_csv("skuinfo.csv", header = None, dtype = 'str', 
                     names = ['SKU', 'DEPT', 'CLASSID', 'UPC', 'STYLE',
                             'COLOR', 'SIZE', 'PACKSIZE', 'VENDOR', 'BRAND', 
                             'Unkown1', 'Unknown2', 'Unknown3'])
strinfo = pd.read_csv("strinfo.csv", header = None, names = ['City', 'State', 'Zip', 'unkown'])

In [75]:
deptinfo.head()

   Dept  DeptDESC  unknown
0   800  CLINIQUE        0
1   801  LESLIE          0
2  1100  GARY F          0
3  1107  JACQUES         0
4  1202  CABERN          0

In [76]:
deptinfo.isnull().sum()

Dept        0
DeptDESC    0
unknown     0
dtype: int64

In [77]:
len(deptinfo)

60

In [36]:
skuinfo.columns

Index(['SKU', 'DEPT', 'CLASSID', 'UPC', 'STYLE', 'COLOR', 'SIZE', 'PACKSIZE',
       'VENDOR', 'BRAND', 'Unkown1', 'Unknown2', 'Unknown3'],
      dtype='object')

In [69]:
skuinfo.isnull().sum()

SKU               0
DEPT              0
CLASSID           0
UPC               0
STYLE             0
COLOR             1
SIZE              0
PACKSIZE          0
VENDOR            0
BRAND             0
Unknown1          0
Unknown2    1556030
Unknown3    1564158
dtype: int64

In [70]:
len(skuinfo)

1564178

In [37]:
strinfo.head()

                   City State    Zip  unkown
2  ST. PETERSBURG          FL  33710       0
3  ST. LOUIS               MO  63126       0
4  LITTLE ROCK             AR  72201       0
7  FORT WORTH              TX  76137       0
9  TEMPE                   AZ  85281       0

In [40]:
strinfo.isnull().sum()

City      0
State     0
Zip       0
unkown    0
dtype: int64

In [71]:
len(strinfo)

453