In [30]:
import pandas as pd
import numpy as np

In [2]:
return_df =pd.read_csv("return_rate.csv")

In [21]:
return_df.ReturnRate = return_df.ReturnRate*100

In [22]:
from sklearn.ensemble import RandomForestClassifier  # For classification
from sklearn.ensemble import RandomForestRegressor  # For regression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, mean_squared_error
import pandas as pd

In [23]:
X = return_df.drop(['ReturnRate','SALEDATE'], axis=1)
y = return_df['ReturnRate']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [24]:
# Create a Random Forest Regressor model
rf = RandomForestRegressor(n_estimators=100, random_state=42)

# Fit the model on the training data
rf.fit(X_train, y_train)

# Predict on the test data
y_pred = rf.predict(X_test)

# Calculate the Mean Squared Error
mse = mean_squared_error(y_test, y_pred)

In [28]:
mse

6.34359932906092

In [25]:
rf.score(X_test, y_test)

0.38808206102326137

In [26]:
from sklearn.neural_network import MLPRegressor

# Create a Multi-Layer Perceptron Regressor model
# This is a simple neural network with 1 hidden layer of 128 neurons
mlp = MLPRegressor(hidden_layer_sizes=(128,64,1), solver='adam', max_iter=500, random_state=42)

# Fit the model on the training data
mlp.fit(X_train, y_train)

# Predict on the test data
y_pred_mlp = mlp.predict(X_test)

# Calculate the Mean Squared Error for the neural network predictions
mse_mlp = mean_squared_error(y_test, y_pred_mlp)

In [27]:
mse_mlp

10.366959122081202

In [31]:
np.mean(y_test)

8.338095585267371

In [32]:
transaction = pd.read_csv("../trnsact_new.csv")

In [54]:
seq_num = transaction[(transaction['SEQ'] == 0)]

In [55]:
seq_num.

,SKU,STORE,REGISTER,TRANNUM,SEQ,SALEDATE,STYPE,QUANTITY,ORGPRICE,SPRICE,AMT,INTERID,MIC,UNKNOWN
3,3,709,360,500,0,2005-08-14,P,1,0.0,30.0,30.0,6500000,818,0
4,3,802,660,400,0,2005-08-09,P,1,440.0,30.0,30.0,4700000,599,0
5,3,1202,400,2100,0,2004-11-11,P,1,0.0,30.0,30.0,8600000,999,0
6,3,1204,220,3400,0,2004-12-22,P,1,0.0,30.0,30.0,17600000,555,0
7,3,1304,160,3500,0,2004-08-07,P,1,0.0,30.0,30.0,11400000,990,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120916889,9999997,2707,130,12900,0,2005-08-05,P,1,39.0,19.5,19.5,72800124,395,0
120916891,9999997,7507,750,2800,0,2005-04-23,P,1,39.0,39.0,39.0,593900116,395,0
120916892,9999997,7907,790,3200,0,2005-05-03,P,1,39.0,39.0,39.0,502600061,395,0
120916893,9999997,7907,800,700,0,2005-05-04,R,1,39.0,39.0,39.0,600900066,395,0
120916894,9999997,7907,800,700,0,2005-05-04,P,1,39.0,39.0,39.0,601000066,395,0

In [39]:
transaction['INTERID']

0              3500000
1             15200000
2              4600000
3              6500000
4              4700000
               ...
120916891    593900116
120916892    502600061
120916893    600900066
120916894    601000066
120916895    658600082
Name: INTERID, Length: 120916896, dtype: int64

In [50]:
transaction['SEQ']

0            326708721
1            326708721
2             23702074
3                    0
4                    0
               ...
120916891            0
120916892            0
120916893            0
120916894            0
120916895    257808914
Name: SEQ, Length: 120916896, dtype: int64

# Test

In [57]:
aggregated_df = (
    transaction
    .assign(
        ReturnFlag=transaction['STYPE'].eq('R').astype(float),  # Create a flag for returns
        PurchaseFlag=transaction['STYPE'].eq('P').astype(float),  # Create a flag for purchases
        DiscountFlag=(transaction['SPRICE'] < transaction['ORGPRICE']).astype(int)  # Create a flag for discounts
    )
    .groupby(['SALEDATE', 'STORE'])
    .agg(
        ReturnRate=('ReturnFlag', 'sum') / (transaction['STYPE'].isin(['P', 'R']).astype(float).groupby(transaction['STORE']).transform('sum')),
        NumTrans=('STORE', 'size'),  # Count number of transactions
        DiscountSalesCount=('DiscountFlag', 'sum'),
        AmtTrans=('AMT', 'sum')
    )
    .reset_index()
)

# Sort the results
return_rate_df = aggregated_df.sort_values(by=['SALEDATE', 'STORE'])

# Show the resulting DataFrame
return_rate_df

TypeError: ufunc 'divide' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''